<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SynapseAI"
        tools:targetApi="31">
        <activity
            android:name=".Screens.AIAssistantsScreen"
            android:exported="false"
            android:label="@string/title_activity_aiassistants_screen"
            android:theme="@style/Theme.SynapseAI" />
        <activity
            android:name=".Screens.ChatDetailScreen"
            android:exported="false"
            android:label="@string/title_activity_chat_detail_screen"
            android:theme="@style/Theme.SynapseAI" />
        <activity
            android:name=".Screens.HistoryScreen"
            android:exported="false"
            android:label="@string/title_activity_history_screen"
            android:theme="@style/Theme.SynapseAI" />
        <activity
            android:name=".Screens.CustomTopBar"
            android:exported="false"
            android:label="@string/title_activity_custom_top_bar"
            android:theme="@style/Theme.SynapseAI"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Screens.ui.theme.CustomTopBar"
            android:exported="false"
            android:label="@string/title_activity_custom_top_bar"
            android:theme="@style/Theme.SynapseAI"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Screens.BottomNavBar"
            android:exported="false"
            android:label="@string/title_activity_bottom_nav_bar"
            android:theme="@style/Theme.SynapseAI"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Screens.ChatScreen"
            android:exported="false"
            android:label="@string/title_activity_chat_screen"
            android:theme="@style/Theme.SynapseAI"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Screens.SplashScreen"
            android:exported="false"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/Theme.SynapseAI"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SynapseAI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>